.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.nx

dist
bin
coverage
node_modules

.devenv
.devenv.flake.nix

/projects
/.highstate
/Pulumi.*.yaml
/Pulumi.yaml
/library

/docs/.vitepress/cache

mcp-language-server.config.json
