name: Release

on:
  push:
    branches: [main]

env:
  REGISTRY: ghcr.io

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    permissions:
      contents: write
      packages: write
      id-token: write # needed for provenance data generation
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Fetch all tags
        run: git fetch --unshallow --tags

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24.x
          package-manager-cache: false
          registry-url: https://registry.npmjs.org

      - name: Enable Corepack
        run: corepack enable

      - name: Configure Dependency Cache
        uses: actions/setup-node@v5
        with:
          cache: pnpm
          registry-url: https://registry.npmjs.org

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Install dependencies
        run: pnpm install

      - name: Run release tasks
        env:
          NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
          DOCS_KUBECONFIG: ${{ secrets.DOCS_KUBECONFIG }}
        run: |
          pnpm nx-cloud start-ci-run --no-distribution
          pnpm ci:prepare
          pnpm ci:release
          pnpm nx-cloud stop-all-agents

      - name: Publish packages
        run: pnpm nx release -y --nxIgnoreCycles
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
